.app-header {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  color: #333;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-inline: 0;
}

.app-header .logo {
  margin: 0;
  margin-inline-end: auto;
  display: flex;
  align-items: center;
}

.app-header .google-logo {
  width: 80px;
}

.app-header .logo h1 {
  font-family: opensans;
  font-size: 2rem;
}

.app-header nav {
  display: flex;
  margin: 0;
  gap: 2rem;
  font-family: opensans;
  padding-inline-end: 1rem;
}

.app-header nav a:hover {
  scale: 1.2;
}

.app-header .note-search {
  margin-inline: 50vw;
  translate: -50%;

  margin-top: 20px;
  position: relative;
}

.app-header .note-search span {
  position: absolute;
  /* translate: -920% 0%; */
  left: -30px;
  top: 12px;
  color: aliceblue;
}
