.app-header {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  color: #333;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-header nav {
  display: flex;
  margin: 0;
  gap: 2rem;
  font-family: opensans;
}

.app-header h1 {
  margin: 0;
  margin-inline-end: auto;
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
}

.app-header .note-search {
  margin-inline: 50vw;
  translate: -50%;

  margin-top: 20px;
  position: relative;
}

.app-header .note-search span {
  position: absolute;
  /* translate: -920% 0%; */
  left: -30px;
  top: 12px;
  color: aliceblue;
}
