.note-txt {
  
    padding: 8px;

}


.note-txt .delete {
    right: 5%;
    bottom: 2%;
    position: absolute;
}

.note-txt .pin {
    right: 20%;
    bottom: 2%;
    position: absolute;
}

.note-txt .img {
    right: 35%;
    bottom: 2%;
    position: absolute;
}

.note-txt span:hover {
    cursor: pointer;
    scale: 1.1;
}

.note-txt .colorPicker {
    cursor: pointer;
    scale: 1.1;
}