.note-preview{
    break-inside: avoid-column;
    
    display: flex;
    flex-direction: column;
    position: relative;
}

.rendered-note {

    border: 1px solid lightgray;
    border-radius: 10px;
    height: 160px;
    height: max-content;
    width: 20vw;
    transition: 200ms;
    /* position: relative; */
}

.rendered-note:hover {
    box-shadow: 1px 1px 5px 1px gray;
}

.note-preview .delete {
    right: 5%;
    bottom: 2%;
    position: absolute;
    
}

.note-preview span:hover {
    cursor: pointer;
    scale: 1.1;
}
