

.note-add form {
    /* display: grid;
    grid-template-rows: min-content;     */
    display: flex;
    flex-direction: column;
    width: 30vw;
    
  
    /* translate: -50%; */
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 5px lightgray;
    color: black;

    /* margin-top: 20px; */
    /* margin-bottom: 2px; */
    /* position: relative; */
    margin-inline: auto;
}


.note-add button{
    border-radius: 10px;
    border: 1px solid lightgray;
    width: max-content;
}



.note-add .title-input{
    border-radius: 10px;
    border: 1px solid lightgray;
    font-family: opensans;
    
}

.note-add .txt-input{
    border-radius: 10px;
    border: 1px solid lightgray;
    font-family: opensans;
}


.note-add .feature-btns {
    translate: 15% -90%;
}

.note-add a {
    margin-inline-start: 5px;
}

.note-add a:hover {
    scale: 1.1;
    cursor: pointer;
}

.note-add button:hover {
    scale: 1.1;
}


