.note-todos {
    /* height: 20vh;
    width: 20vw; */
    /* background-color: lightgreen; */
    /* border: 1px solid black; */
    padding: 8px;

}

.note-todos .add-todo-line{
    translate: 40vw -333px;
}

.note-todos .todo-input{
    border-radius: 10px;
    border: 1px solid lightgray;
}

.note-todos .delete {
    right: 5%;
    bottom: 2%;
    position: absolute;
}

.note-todos .pin {
    right: 20%;
    bottom: 2%;
    position: absolute;
}

.note-todos .img {
    right: 35%;
    bottom: 2%;
    position: absolute;
}

.note-todos span:hover {
    cursor: pointer;
    scale: 1.1;
}

.note-todos .colorPicker {
    cursor: pointer;
    scale: 1.1;
}