.note-sidebar {
    
    display: flex;
    flex-direction: column;
    margin-block-start: 2rem;
    background-color: white;
    grid-area: 1/1/5/1;
  }
  
  /* .note-sidebar .icon {
    display: flex;
    align-items: center;
    gap: 1.3em;
  }
  
  .note-sidebar .icon span {
    margin-inline-start: 23px;
  } */

  .note-sidebar section {
    display: flex;

    padding: 0.5em;
    border: 1px solid transparent;
    border-radius: 0 25px 25px 0;

    height: 48px;
    min-width: 48px;
    width: 100%;
    overflow: hidden;

    line-height: 1.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: roboto;

    align-items: center;
    
  }

  .note-sidebar .material-symbols-outlined {
    margin-inline-end: 1em;
    margin-inline-start: 12px;
    /* margin-top: 0.9em; */
  }

  .note-sidebar section:hover {
    background-color: rgb(238, 243, 249);
    cursor: pointer;
  }

  /* .note-sidebar span {
   
    margin-inline-end: 20px;
  } */

   .note-sidebar .clicked {
    background-color: var(--clr1);
  }
 