.email-compose-modal {
  width: 500px;
  height: 610px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  right: 3%;
  z-index: 5;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.compose-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  outline: 0px none transparent;
}

.compose-to {
  font-weight: bold;
}

.compose-subject {
  font-size: 14px;
}

.email-compose-modal input {
  font-family: roboto, sans-serif;
}

.compose-body {
  width: 100%;
  height: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: 0px none transparent;
  resize: none;
}

.compose-button {
  padding: 0 20px;
  background-color: rgb(11, 87, 208);
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
  width: 105px;
  height: 36px;
  font-family: roboto, sans-serif;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.compose-button:hover {
  background-color: rgb(27, 97, 209);
}

.compose-button:active {
  background-color: rgb(11, 87, 208);
}
