.mail-sidebar {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.mail-sidebar .icon {
  display: flex;
  align-items: center;
  gap: 1.3em;
  cursor: pointer;
  font-family: roboto;
  height: 32px;
  margin-inline-end: 1.5em;
}

.mail-sidebar .icon:hover {
  background-color: #f0f0f0;
  border-radius: 0px 17px 17px 0px;
}

.mail-sidebar .icon.active {
  background-color: #d3e3fd;
  border-radius: 0px 17px 17px 0px;
}

.mail-sidebar .icon span {
  margin-inline-start: 23px;
  padding-block-start: 2.3px;
  width: fit-content;
}

.mail-sidebar .compose {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-inline-start: 0.7em;
  width: 9.53845em;
  border-radius: 10px;
  padding-block: 1em;
  background-color: #c3e7ff;
  cursor: pointer;
  font-family: opensans, sans-serif;
  margin-block-end: 1em;
}

.mail-sidebar .compose:hover {
  background-color: #d5ecfb;
}

span.material-symbols-outlined {
  font-variation-settings: "opsz" 60;
  font-size: 30rem;
}

.mail-sidebar .labels .add-label {
  display: flex;
  justify-content: space-between;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.color-option {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.selected-label {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
