.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f1f3f4;
  padding: 10px;
  justify-content: center;
  background-color: rgb(247, 248, 252);
  flex-shrink: 0;
}

.search-bar input[type="text"] {
  position: absolute;
  font-size: 1rem;
  left: 230px;
  padding: 0px 15px 0px 20px;
  border: none;
  border-radius: 25px;
  outline: none;
  width: 44%;
  height: 44px;
  background-color: #eaf1fb;
}
