.mail-index {
  display: grid;
  grid-template-columns: 225px auto;
  min-height: 100vh;
  background-color: #f7f8fc;
}

.mail-index .mail-preview .subject-body {
  display: flex;
  flex: 3;
  width: 50rem;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.25em;
}

.mail-index ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.mail-index li {
  border-bottom: 1px solid #e0e0e0;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.mail-index li:hover {
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.mail-preview .mail-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline-end: 15em;
}
