.mail-list {
  padding: 32px;
  background-color: #fff;
  border-radius: 15px;
  margin-block-start: 50px;
  margin-inline-end: 50px;
  margin-block-end: 25px;
}

.mail-list ul {
  margin: 0;
}

.mail-index .mail-preview {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0.344rem;
}

.mail-index .mail-preview i {
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.mail-index .mail-preview i:hover {
  background-color: rgb(227, 227, 227);
  border-radius: 50%;
}

.mail-index .mail-preview h4 {
  font-family: roboto;
  font-size: 0.8125rem;
  color: var(--main-clr2);
}

.mail-preview.read {
  background-color: var(--main-clr1);
}
