@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
  font-family: opensans;
  src: url("/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: roboto;
  src: url("fonts/Roboto-Regular.ttf");
}


:root {
    --clr1: #feefc3;  
    /* onClick noteSideBar */
    --clr2: #f1f3f4;
    /* note-search-bar */
    --clr3: #5f6368;
    /* pinned/unpinned titles */

}